/* Display.css */
.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.image-list img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-list img:hover {
  transform: scale(1.1);
}

.address {
  padding: 10px;
  width: 300px;
  border: 2px solid #ff007a;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
}