/* FileUpload.css */
.top {
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose {
  background-color: #ff007a;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.upload {
  background-color: #ff007a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.upload:disabled {
  background-color: #555;
}

.textArea {
  margin-top: 10px;
  color: #ffffff;
}